@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: "Outfit", sans-serif;
}

:root {
	--scrollbar-size: 10px;
	--scrollbar-track: #f5f5f5;
	--scrollbar-thumb: #d4d4d4;
	--scrollbar-thumb-hover: #a3a3a3;
}

.dark {
	--scrollbar-track: #171717;
	--scrollbar-thumb: #525252;
	--scrollbar-thumb-hover: #737373;
}

* {
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
	border: 2px solid var(--scrollbar-track);
	border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-corner {
	background: var(--scrollbar-track);
}

body {
	font-family: "Outfit", sans-serif;
	@apply antialiased;
}
